__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log
*.sqlite3
.env
.env.*
myvenv/
venv/
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
node_modules/
dist/
build/
coverage/
htmlcov/
*.db
*.sqlite
*.mypy_cache/
*.pytest_cache/
*.pylint.d/
*.tox/
*.coverage
*.cache